
.round {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff6363;
}

.vacantionround {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ee37ff;
}

.approverlist img {
  object-fit: cover;
  border-radius: 50%;
}

.roles h5 {
  color: #6d6777;
}

.accordion-button:focus {
  box-shadow: unset !important;
}

.accordion-button {
  background-color: transparent;
}

.accordion-button:after {
  margin-left: 10%;
}

.accordion-button:not(.collapsed) {
  box-shadow: unset !important;
  background-color: transparent !important;
}

.collapse {
  visibility: inherit !important;
}

.accordion-item {
  background-color: unset !important;
}

.accordion-body {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.borderright {
  border-right: 1px solid #8d8d8d4f;
}

.accordion-button:after {
  background-image: url(../assets/img/keyboard_arrow_down.png) !important;
}

.summarysection {
  background: white;
  width: 47%;
  margin-left: auto;
  height: 100%;
}

.showpopup {
  position: fixed;
  width: 100%;
  right: 0;
  top: 0;
  background: rgba(27, 26, 26, 0.288);
  z-index: 1132;
  height: 100%;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.5s ease;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
}


.dark .summarysection {
  background: #1b1a1a !important;
  box-shadow: rgba(38, 38, 40, 0.1) 0px 0px 16px;
}

.showpopupactive {
  transform: translateZ(0);
}

.summary {
  border-bottom: 1px solid #8d8d8d4f;
}

.summarydetailscards {
  width: fit-content !important;
  padding: 15px;
}

.summarydetailscards,
.summarydetails {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.dark 
.summarydetails {
  border-radius: 10px;
  background: #1b1a1a ;
  box-shadow: 2px 2px 4px 2px rgba(40, 39, 39, 0.393);
}

.summarydetailscards h5,
.summarydetails h5 {
  font-size: 15px;
  font-family: Inter, sans-serif;
}

.summarydetailscards svg,
.summarydetails svg {
  color: white;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #ff6363;
  border-radius: 50%;
}

.summarydetailscards .icons,
.summarydetails .icons {
  color: white;
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #ff6363;
  border-radius: 50%;
}

.totalweeks th:nth-last-child(1) {
  color: #ff6363 !important;
  border-bottom: 1px solid var(--stroke, #dadce000);
}

.totalweeks th:nth-child(1) {
  border-bottom: 1px solid var(--stroke, #dadce000);
}

.totalweeks th {
  border-bottom: 1px solid var(--stroke, #dadce0);
  padding-bottom: 2px;
  text-align: center;
}

.timesheetlist {
  background-color: #fff;
  border: 1px solid var(--Timesheet-holiday, #ede4ff);
  background: #fcfcfc;
}

.dark .timesheetlist {
  background-color: #1b1a1a !important;
  border: 1px solid var(--Timesheet-holiday, #333233);
  background: #fcfcfc;
}

.projectlist {
  color: #8c57ff;
  font-weight: 500;
  width: fit-content;
  outline: 0 !important;
}

.inputfield input {
  width: 100%;
  outline: 0 !important;
  border-radius: 5px;
  border: 0.5px solid #c8c8c8;
}

.inputdats:nth-child(6) input,
.inputdats:nth-child(7) input {
  background: var(--Timesheet-weekend, #fff2d7) !important;
}

.holiday .inputdats input {
  background: var(--Timesheet-holiday, #ede4ff);
}

.fileupload {
  border-radius: 5px;
  border: 1px dashed #8c57ff;
  background: #fff;
  position: relative;
}
.dark .fileupload{
  background: #1b1a1a !important;
}

.fileupload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 11;
}

.css-1nxbkmn-MuiPickersCalendarHeader-root {
  display: none !important;
}

.css-1rl1vrc-MuiDayCalendar-header {
  justify-content: start !important;
}

.css-1pv2de5-MuiDayCalendar-weekContainer {
  justify-content: start !important;
}

.css-15umtxl-MuiPickersArrowSwitcher-root {
  display: none !important;
}

.css-wvbfxi-MuiMonthCalendar-root {
  width: 100% !important;
}